---
import { i18nParams } from '../i18n/consts'
import { useTranslations } from '../i18n/utils';
import Base from '@layouts/Base.astro';
import HeroHeader from '@components/uicomposition/HeroHeader.astro';
import TilesContainer from '@components/uicomposition/TilesContainer.astro';
import SmallTile from '@components/uielements/SmallTile.astro';
import slant from "@assets/images/slantwithimage.png"
import Image from 'astro/components/Image.astro';
import TeaserWithImage  from "@components/uicomposition/TeaserWithImage.astro";
import avepoint from '@assets/logos/avepoint-logo.png';
import Customers from "@components/uicomposition/Customers.astro"
import speaker1 from '@assets/images/peter-hinssen-speaker.png';
import speaker2 from '@assets/images/tom-laureys.png';
import speaker3 from '@assets/images/tbd.png';
import eventlocation from '@assets/images/ohl.png';
import conferencecenter from '@assets/images/content-science-conference.png';

export function getStaticPaths() {
	return i18nParams;
}

const t = useTranslations('en', 'home');
---
<Base title="Content Science Conference 2024" description={t('home.seoDescription')}>
  <HeroHeader 
      headline="CONTENT SCIENCE <span style='color:#D9E8F5;'>CONFERENCE</span> <span style='color:#F8803D;'>24</span>"
      text="The Next Wave of Enterprise Innovation: Where <strong>Content Management</strong> Meets <strong>AI</strong>. <br/>Discover how AI can enhance your content platforms and streamline processes!"
      homepage>
  </HeroHeader>

	<TeaserWithImage 
		headline="Amexio invites you to the Content Science Conference <span class='text-orange'>24</span>"
		description="Be part of <strong>Belgium’s first event dedicated to the revolutionary impact of AI on Content Management</strong>. At the Content Science Conference 24, you’ll explore how AI can drive content-driven business value for your organization. Learn from industry experts like <strong>Peter Hinssen</strong> and <strong>Tom Laureys</strong>, and discover the latest tools and strategies shaping the future of content management.<br/><br/>Whether you’re seeking actionable insights, connecting with key decision-makers, or exploring cutting-edge advancements, this conference offers an opportunity to explore the evolving world of content and AI.<br/><br/>Oh, and did we mention? It’s free!">
		<Image src={eventlocation} alt="OHL Stadium Leuven" style="margin-top:30px;"  width={800} class="" />
    <br/><h2 style="font-weight:bold;" class="font-serif uppercase text-lg text-blue">Time &amp; Place</h2>
    <span style="font-size:140%">28 NOV 2024 - 13:00-18:00</span><br/><a target="_blank" href="https://maps.app.goo.gl/zB61hjNYmqtURn5V6"><strong>OHL LEUVEN STADIUM, The King Power At Den Dreef Stadium</strong></a><br/><a target="_blank" href="https://maps.app.goo.gl/zB61hjNYmqtURn5V6">Kardinaal Mercierlaan 46, 3001 Leuven</a>
	</TeaserWithImage>
	
  <TilesContainer 
    headline="Meet Our Keynote Speakers"
    description="Our speakers are at the forefront of innovation, bringing unparalleled insights and expertise." >
  
    <SmallTile 
      headline="Peter Hinssen (Nexxworks)"
      description="Renowned technology thought leader, author, and entrepreneur." >
      <Image src={speaker1} alt="Peter Hinssen" width={512} height={512} class="" />
    </SmallTile>
    <SmallTile 
      headline="Tom Laureys (AmeXio)"
      description="Expert in digital transformation and content management strategies" >
      <Image src={speaker2} alt="Tom Laureys" width={512} height={512} class="" />
    </SmallTile>
    <SmallTile 
      headline="Speaker TBD" 
      description="Details coming soon. Stay tuned for exciting announcements!" >
      <Image src={speaker3} alt="Speaker TBD" width={512} height={512} class="" />
    </SmallTile>
    <div slot="bg-image" class="absolute -z-10 w-[250%] md:w-[1240px] h-[1000px] -right-3/4 sm:-right-full lg:-right-1/3 -bottom-20 md:-top-20 bg-contain bg-no-repeat">
      <Image loading="lazy" src={slant} alt="" />
    </div>
    
  </TilesContainer>

  <Customers headline="Our Partners and GOLD Sponsors">
    <a href="https://www.avepoint.com/" target="_blank"><Image src={avepoint} alt="AvePoint Gold Partner Content Science Conference 24" class="h-12 w-auto"/></a>
  </Customers>   

	<TeaserWithImage  
		headline="Conference Agenda"
		description="<table><tr><td>13:00 - 13:45</td><td>Welcome + Stadium Tour</td></tr><tr><td>13:45 - 14:15</td><td>Keynote by Peter Hinssen (Nexxworks)</td></tr><tr><td>14:15 - 14:30</td><td>Setting the Scene by AmeXio</td></tr><tr><td>14:30 - 14:45</td><td>Pause</td></tr><tr><td>14:45 - 15:45</td><td>Breakout Sessions 1 - Content Science</td></tr><tr><td>15:45 - 16:00</td><td>Pause</td></tr><tr><td>16:00 - 17:00</td><td>Breakout Sessions 2 - Content Science</td></tr><tr><td>17:00 - 18:00</td><td>Networking + Demo-area + Food</td></tr></table>">
   
    <Image src={conferencecenter} alt="Content Science Conference 24 announcement - 24 november 2024" height={512}  class="" />  
  </TeaserWithImage>
  
  
 
<!--   <InsightsTeaser />-->

</Base>

